
body {
    background-color: White;
    color: Black;
    font-family: "Arial", serif;
    font-size: 12px;
}

header {
    margin: auto;
    padding: auto;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
