
body {
    background-color: White;
    color: Black;
    font-family: "Arial", serif;
    font-size: 8px;
}

header {
    margin: auto;
    padding: auto;
}

.checkbox-container {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    height: 100vh; /* Ensure full viewport height */
}

.checkbox-container label {
    margin: 0 10px; /* Add horizontal margin for spacing */
}

