
body {
    background-color: White;
    color: Black;
    font-family: "Arial", serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
